@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


body {
    text-align: right;
    font-family: 'Marcellus', serif;
}

about {
    text-align: center;
    font-family: 'Marcellus', serif;
}

header {
    text-align: center;
    font-family: 'Bershire Swash', cursive;
    background-color: #051f3c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    font-weight: 800;
	text-align: right;
}

#navbar {
    overflow: hidden;
    background-color: #051f3c;
    border-bottom: 10px solid #e3a14c;
}

#navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #e3a14c;
    color: #051f3c;
}

img {
    width: 300px;
    height: 400px;
    align-content: left
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

#footer {
    margin-top: 60%;
    width: 100%;
}

#back-to-top {
    float: right;
    margin-bottom: 20px;
}